<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tavla</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</head>
<body style="background-color: #303030;">
    <div class="mt-5"></div>

    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h1 style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Welcome to the InfoScreen</h1>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Thank you for downloading this project from <a href="https://github.com/KindCoder-no/infoscreen">Github</a></p>
            <div class="mt-5"></div>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">This project is licensed under the <a href="https://github.com/KindCoder-no/infoscreen/blob/main/LICENSE">MIT license</a></p>
        </div>
        
    </div>
    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h2 style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Configuration:</h2>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">This project is based around Charlottenlund VGS and collects weather and Buss Information from its location</p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">You can change this configuration in the .env file</p>
            <br>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">The LAT and LOT is used to get weather data</p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">You also need to change the Auth0, Spotify and MongoDB Cloud settings</p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">After you are done. Set INSTALLED=TRUE in the .env file and restart the Node.JS server</p>

            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">IMPORTANT: The URL needs to be correct, or the callback wil not work from Auth0 and Spotify. (It is by default set to localhost)</p>
        </div>
        
    </div>
    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h2 style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Callback URLS:</h2>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Auth0: "url"/callback</p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Spotify: "url"/spotify-callback</p>

        </div>
        
    </div>
    <div class="mt-5"></div>
    <div class="container d-flex align-items-center justify-content-center text-center">
        <div>
            <h2 style="color: white; font-family: 'Mochiy Pop P One', sans-serif;">Usefull links:</h2>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;"><a href="https://stoppested.entur.org/">Find Buss Stop ID</a></p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;"><a href="https://auth0/">Auth0</a></p>
            <p style="color: white; font-family: 'Mochiy Pop P One', sans-serif;"><a href="https://developer.spotify.com/dashboard/">Spotify Developer Dashboard</a></p>

        </div>
        
    </div>
    <div class="container d-flex align-items-center justify-content-center text-center fixed-bottom" style="color: white;">
        <a href="https://github.com/KindCoder-no/infoscreen/"><i class="fab fa-github"></i> Kindcoder-no/infoscreen</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    

        
</body>
</html>